<html>
    <head>
        <title>
            {{ title }}
        </title>
    </head>
    <body>
        <h1>
            Chatit: Free Webchat
        </h1>
        <a href = "https://www.google.com"> Home </a>
        <br>
        <a href = "https://www.google.com"> Chat </a>
        <br>
        <a href = "https://www.google.com"> Friends </a>
        <br>
        <a href = "https://www.google.com"> Groups </a>
        <br>
        {% block content %}
        {% endblock %}
    </body>
</html>